.arrange{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(4,19fr); */
    padding-top: 60px;
    padding-bottom: 60px;
}
.content{
    width: 20%;
    padding-top: 10px;
    /* max-width: 7fr; */
    /* max-height: 20%; */
}
.p-tag{
    line-height: 15px;
}